a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

.pages a,.pages span {
    display:inline-block;
    padding:2px 5px;
    margin:0 1px;
    border:1px solid #f0f0f0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.pages a,.pages li {
    display:inline-block;
    list-style: none;
    text-decoration:none; color:#58A0D3;
}
.pages a.first,.pages a.prev,.pages a.next,.pages a.end{
    margin:0;
}
.pages a:hover{
    border-color:#50A8E6;
}
.pages span.current{
    background:#50A8E6;
    color:#FFF;
    font-weight:700;
    border-color:#50A8E6;
}

#introduce{
    background-color: #eeeeee;
    margin-top: 0px;
}
#introduce .content{
    background-color:#aaaaaa; 
    width: 400px; height: 500px; 
    margin-left:auto; margin-right:auto;margin-top: 0px;
}
#introduce .content .place{
    width: 400px; height: 30px; 
    text-align:center;
}
#introduce .content .link{
    width: 400px; height: 30px; 
    text-align:right;
}
#introduce .content .titleContent{
    width: 400px; height: 20px; 
    margin-left:50px; margin-top: 0px;
    text-align:left;
    color:#305050;
}
#introduce .content .articleContent{
    width: 400px; height: 20px; 
    margin-left:50px; margin-top: 20px;
    text-align:left;
}
#introduce .content a{text-align: right;}